/**********************************\
|*                                *|
|*   STYLE FOR DEFAULT TEMPLATE   *|
|*                                *|
\**********************************/

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

:root{
    --title-font: Niconne, serif;
    --body-font: Nunito, sans-serif;
    --accent-dark-blue: #184ea5;
    --accent-light-blue: #2164d1;
    --subtle-grey: #5770a8;
    --background-color: #f7fdff;
    --button-background-color: #eef;
}

/* -- Flexbox shortcuts -- */
.flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.fill {
    min-height: 0px;
    min-width: 0px;
    flex: 1 1 0;
}

.hold {
    flex: 0 0 auto;
}

/****************************\
|*          MOBILE          *|
\****************************/
.site-main-container {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

/* -- Title Bar -- */
.title-bar-container {
    width: 100%;
    height: 80px;
    transition: height .5s;

    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title-bar-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.8);
}

.title-text-container {
    
}

.title-text-container span {
    font-family: var(--title-font);
    font-size: 26px;
    padding: 0px 3px;
    transition-property: font-size, padding;
    transition-duration: .5s;
}

.title-text-container .dark-blue {
    color: var(--accent-dark-blue);
}

.title-text-container .light-blue {
    color: var(--accent-light-blue);
}

/* -- Nav Bar -- */
.nav-container {

}

.nav-item-container {
    cursor: pointer;
    transition: width .5s;
}

.nav-item-container:hover {
    color: var(--accent-light-blue);
}

.nav-item-text {
    font-family: var(--body-font);
    font-size: 10px;
    transition: font-size .5s;
    text-align: center;
    text-decoration: none;
    color: inherit;
}

.nav-item-text-active {
    color: #2164d1;
}

.nav-dot {
    padding: 8px;
    font-size: 36px;
}

/* -- Main Body -- */
#content-container {
    flex: 1 0 200px;
    font-family: var(--body-font);
    padding: 0px 8px;
}

/* -- Footer -- */
.footer-container {
    height: 30px;
    box-sizing: border-box;
    padding: 8px;
    font-size: 10px;
    font-family: var(--body-font);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
}

.footer-container span {
    margin-right: 5px;
}

/****************************\
|*      MOBILE - LARGE      *|
\****************************/
@media ( min-width: 450px ) {

    .title-bar-container {
        height: 100px;
    }

    .title-text-container span {
        padding: 0px 6px;
        font-size: 30px;
    }

    .nav-item-text {
        font-size: 12px;
    }
}

/*****************************\
|*     TABLET - PORTRAIT     *|
\*****************************/
@media ( min-width: 560px ) {

    .title-bar-container {
        height: 140px;
    }

    .title-text-container span {
        font-size: 40px;
    }

    .nav-item-text {
        font-size: 16px;
    }
}

/******************************\
|*     TABLET - LANDSCAPE     *|
\******************************/
@media ( min-width: 640px ) {

    .title-text-container span {
        font-size: 44px;
    }

    #content-container {
        width: 640px;
        margin: auto;
    }

    .nav-item-text {
        font-size: 18px;
    }
}

@media ( min-width: 800px ) {

    .title-text-container span {
        font-size: 48px;
    }

    #content-container {
        width: 80%;
    }
}

@media ( min-width: 1000px ) {

    .title-text-container span {
        font-size: 52px;
    }

    .nav-item-container {
        width: max-content;
    }
}

/*******************************\
|*           DESKTOP           *|
\*******************************/
@media ( min-width: 1400px ) {

    .title-bar-container {
        height: 200px;
    }
    
    .title-text-container span {
        font-size: 54px;
    }

    .nav-item-text {
        font-size: 20px;
    }

    #content-container {
        width: 1120px;
    }
}



/*********************************\
|*                               *|
|*   STYLE COMMON TO ALL PAGES   *|
|*                               *|
\*********************************/
.page-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.page-container > div {
    margin-top: 16px;
}

.page-container p {
    margin: 0;
}

/* -- Grid shortcuts -- */
.grid {
    display: grid;
    justify-items: center;
    grid-gap: 16px;
}

.grid-header {
    grid-area: header;
}

.grid-subheader {
    grid-area: subheader;
}

.grid-image {
    grid-area: image;
}

.grid-text-accent {
    grid-area: text-accent;
}

.grid-text {
    grid-area: text;
}

.grid-content {
    grid-area: content;
}

/* -- Styling shortcuts -- */
.page-header {
    grid-area: header;
    font-family: var(--title-font);
    font-size: 32px;
    text-align: center;
    transition: font-size .5s;
}

.page-subheader {
    grid-area: subheader;
    font-family: var(--title-font);
    font-size: 24px;
    text-align: center;
    transition: font-size .5s;
}

.page-text-accent {
    grid-area: text-accent;
    color: var(--accent-dark-blue);
    text-align: center;
    margin-top: 0px;
    font-size: 18px;
    transition: font-size .5s;
}

.page-text {
    grid-area: text;
    font-family: var(--body-font);
    text-align: center;
    font-size: 16px;
    transition: font-size .5s;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 16px;
}

/****************************\
|*      MOBILE - LARGE      *|
\****************************/
@media ( min-width: 450px ) {
    .page-header {
        font-size: 34px;
    }
    .page-text-accent {
        font-size: 20px;
    }
    .page-text {
        font-size: 18px;
    }
}

/*****************************\
|*     TABLET - PORTRAIT     *|
\*****************************/
@media ( min-width: 570px ) {
    .page-header {
        font-size: 36px;
    }
    .page-text-accent {
        font-size: 22px;
    }
    .page-text {
        font-size: 20px;
    }
}

/******************************\
|*     TABLET - LANDSCAPE     *|
\******************************/
@media ( min-width: 640px ) {
    .page-section-container {
        grid-template-areas:
          "page-section-header   page-section-header"
          "page-section-banner-a page-section-banner-b"
          "page-section-content  page-section-content";
    }
    .page-header {
        font-size: 38px;
    }
    .page-text-accent {
        font-size: 24px;
    }
    .page-text {
        font-size: 22px;
    }
}

@media ( min-width: 800px ) {
    .page-header {
        font-size: 40px;
    }
    .page-text-accent {
        font-size: 26px;
    }
    .page-text {
        font-size: 24px;
    }
}

@media ( min-width: 1000px ) {
    .page-header {
        font-size: 42px;
    }
    .page-text-accent {
        font-size: 28px;
    }
    .page-text {
        font-size: 26px;
    }
}

/*******************************\
|*           DESKTOP           *|
\*******************************/
@media ( min-width: 1400px ) {
    .page-header {
        font-size: 44px;
    }
    .page-text-accent {
        font-size: 30px;
    }
    .page-text {
        font-size: 28px;
    }
}