.about-section {
    grid-template-areas:
        "header"
        "image"
        "text-accent"
        "text";
}

.about-image {
    border-radius: 8px;
    object-fit: cover;
    height: 200px;
    width: 130px;
}

/****************************\
|*      MOBILE - LARGE      *|
\****************************/
@media ( min-width: 450px ) {
    
}

/*****************************\
|*     TABLET - PORTRAIT     *|
\*****************************/
@media ( min-width: 570px ) {

}

/******************************\
|*     TABLET - LANDSCAPE     *|
\******************************/
@media ( min-width: 640px ) {
    .about-section {
        grid-template-areas:
            "header header"
            "image  text-accent"
            "text   text";
    }
}

@media ( min-width: 800px ) {
    
}

@media ( min-width: 1000px ) {
    .about-image {
        margin: 28px;
    }
}